body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #88c0e0, white);
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
}

main {
align-items: center;
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}

.logo-head {
  color: #fff;
  border-bottom: 3px solid #98b5ff;
  padding: 18px;
}

.nav-head {
  background-color: #78a6f6;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text h1 {
  margin: 0;
  font-size: 24px;
  background: -webkit-linear-gradient(#001685, #b5c9f9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.logo-text h2 {
  margin: 0;
  font-size: 24px;
}

.logo-text p {
  margin: 5px 0 0;
  font-size: 14px;
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 30px 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #008641; 
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #052c81; 
  }
  /*header*/
  
   .logo {
      width: 30px;
      height: 30px;
   }

   main {
    padding: 100px;
    margin: 120px;
   }

  /*footer*/
  .footer {
    padding: 17px ;
  }
  
  .footer .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: #000;
  }
