body, h1, table {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  margin: 10px;
  padding: 30px;
  border-radius: 25px;
}

header {
  background-color: #78a6f6;
  color: #fff;
  padding: 18px 20px;
  border-bottom: 3px solid #8790b9;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #008641; 
  padding: 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #052c81; 
}

main {
  margin: 30px;
}

.payment table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.payment table th, 
.payment table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center align content in table cells */
}

.payment table th {
  background-color: #78a6f6;
  color: white;
  text-align: left;
}

.payment table tr:nth-child(even) {
  background-color: #afbdfd;
}

.payment table tr:hover {
  background-color: #a5b2ff;
}

.payment h1 {
  text-align: center;
}

.footer {
  padding: 17px;
  background-color: #78a6f6;
  margin-top: auto; /* Push footer to bottom of viewport */
}

.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  color: #000;
}
