/* Reset some default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  color: #01579b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #0288d1;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.form-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 400px;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #0288d1;
  border-radius: 4px;
  font-size: 1em;
}

button {
  background-color: #0288d1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0277bd;
}

.footer {
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  background-color: #0288d1;
  text-align: center;
  color: white;
}

input::placeholder {
  color: #0288d1;
}

input:focus, select:focus {
  border-color: #0277bd;
  outline: none;
}


  /*footer*/
  .footer {
    padding: 17px ;
    background-color: #78a6f6;
  }
  
  .footer .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: #000;
  }